.bg-none {
	background: none;
}
.bg-black {
	background-color: var(--color_black);
}
.bg-black-a90 {
	background-color: var(--color_black-a90);
}
.bg-black-a70 {
	background-color: var(--color_black-a70);
}
.bg-black-a50 {
	background-color: var(--color_black-a50);
}
.bg-black60 {
	background-color: var(--color_black60);
}
.bg-black40 {
	background-color: var(--color_black40);
}
.bg-black20 {
	background-color: var(--color_black20);
}
.bg-black10 {
	background-color: var(--color_black10);
}
.bg-green {
	background-color: var(--color_green);
}
.bg-red {
	background-color: var(--color_red);
}
.bg-yellow {
	background-color: var(--color_yellow);
}
.bg-blue {
	background-color: var(--color_blue);
}
.bg-blue80 {
	background-color: var(--color_blue80);
}
.bg-blue60 {
	background-color: var(--color_blue60);
}
.bg-blue40 {
	background-color: var(--color_blue40);
}
.bg-blue20 {
	background-color: var(--color_blue20);
}
.bg-blue10 {
	background-color: var(--color_blue10);
}
