.font-white {
	color: var(--color_white);
}
.font-blue {
	color: var(--color_blue);
}
.font-bold {
	font-weight: 700;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-24 {
	font-size: 24px;
}
.text-vertical {
	writing-mode: vertical-rl;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
