.height-8 {
	height: 32px;
}
.height-9 {
	height: 36px;
}
.height-10 {
	height: 40px;
}
.height-11 {
	height: 44px;
}
.height-12 {
	height: 48px;
}
.height-52 {
	height: 208px;
}
.height-fit {
	height: fit-content;
}
.height-100p {
	height: 100%;
}

.max-height-80p {
	max-height: 80%;
}
.max-height-90p {
	max-height: 90%;
}
