.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}
.absolute-t-0,
.top-0 {
	top: 0;
}
.absolute-t-10 {
	top: 40px;
}
.absolute-t-11 {
	top: 44px;
}
.absolute-t-12 {
	top: 48px;
}
.absolute-l-0,
.left-0 {
	left: 0;
}
.absolute-l-1 {
	left: 4px;
}
.absolute-l-2 {
	left: 8px;
}
.absolute-l-3 {
	left: 12px;
}
.absolute-l-4 {
	left: 16px;
}
.absolute-l-5 {
	left: 20px;
}
.absolute-l-6 {
	left: 24px;
}
.absolute-l-7 {
	left: 28px;
}
.absolute-l-8 {
	left: 32px;
}
.absolute-l-9 {
	left: 36px;
}
.absolute-l-10 {
	left: 40px;
}
.absolute-l-11 {
	left: 44px;
}
.absolute-l-12 {
	left: 48px;
}
.absolute-l-m1 {
	left: -4px;
}
.absolute-l-m2 {
	left: -8px;
}
.absolute-l-m3 {
	left: -12px;
}
.absolute-l-m4 {
	left: -16px;
}
.absolute-l-m5 {
	left: -20px;
}
.absolute-l-m6 {
	left: -24px;
}
.absolute-l-m7 {
	left: -28px;
}
.absolute-l-m8 {
	left: -32px;
}
.absolute-l-m9 {
	left: -36px;
}
.absolute-l-m10 {
	left: -40px;
}
.absolute-t-m1 {
	top: -4px;
}
.absolute-r-0,
.right-0 {
	right: 0;
}
.absolute-r-1 {
	right: 4px;
}
.absolute-r-2 {
	right: 8px;
}
.absolute-b-0,
.bottom-0 {
	bottom: 0;
}
