:root {
	--color_white: #ffffff;
	--color_black: #323031;
	--color_black-a90: #323031e6;
	--color_black-a70: #323031b3;
	--color_black-a50: #32303180;
	--color_black80: #5b595a;
	--color_black60: #848383;
	--color_black40: #323031;
	--color_black20: #d6d6d6;
	--color_black10: #ebeaea;
	--color_black10-50: #ebeaea80;
	--color_green: #4da167;
	--color_red: #d83a34;
	--color_yellow: #ffc857;
	--color_blue: #084c61;
	--color_blue80: #397081;
	--color_blue60: #6b94a0;
	--color_blue40: #9cb7c0;
	--color_blue20: #ced8df;
	--color_blue10: #e6edef;
}
